<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="cslaEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CRISTIAN-PC\SQLEXPRESS;Initial Catalog=csla;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="cslaEntities1" connectionString="metadata=res://*/disenoConceptual.csdl|res://*/disenoConceptual.ssdl|res://*/disenoConceptual.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CRISTIAN-PC\SQLEXPRESS;Initial Catalog=csla;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="cslaEntities2" connectionString="metadata=res://*/disenoBD.csdl|res://*/disenoBD.ssdl|res://*/disenoBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CRISTIAN-PC\SQLEXPRESS;Initial Catalog=csla;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>